body {
  background-color: #eca7b2;
  text-align: center;
}

h1 {
  font-size: 144pt;
  font-family: 'Luckiest Guy';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                 0px -6px 0 #212121,
                 0px  6px 0 #212121,
                 0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                 6px  0px 0 #212121,
                -6px  0px 0 #212121,
                 6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                 6px -6px 0 #212121,
                -6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px  18px 0 #212121,
                 0px  18px 0 #212121,
                 6px  18px 0 #212121,
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 24px 24px rgba(0,0,0,.2),
                 0 36px 36px rgba(0,0,0,.15);
}

h2 {
    background: linear-gradient(transparent 70%, #dee0e0 70%);
  }
  p {
    display: inline-block;
  }

  input[type="submit"]{
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
  }
  input[type="submit"]{
    
    padding: 1em 2em 1em 1em;
    width: 175px;
    color: rgb(10, 9, 9);
      line-height: 1;
    text-align: center;
    background: #fafbfc;
    background: linear-gradient(to right, #fafbfc, #c6c9c8);
    border-radius: 1.5em;
  }

  @media screen and (max-width:480px) {
 
    /*　この位置に記述する　*/
    main {
      width: 100%;
    }
    h1{
      font-size: 70px;
    }
   
    input[type="text"] { 
      width: 5em; 

    }
   
  }